{{ if (eq .chezmoi.os "darwin") }}
tap "aylei/tap"
tap "bradyjoslin/sharewifi"
tap "cedricfinance/tap"
tap "derailed/k9s"
tap "extrawurst/tap"
tap "eyeplum/tap"
tap "federico-terzi/espanso"
tap "guoxbin/guoxbin"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "jesseduffield/lazydocker"
tap "jesseduffield/lazygit"
tap "kryptco/tap"
tap "schniz/tap"
tap "shopify/shopify"
tap "tinygo-org/tools"
tap "xvxx/code"
brew "aha"
brew "arp-scan"
brew "asciinema"
brew "augeas"
brew "autojump"
brew "automake"
brew "awscli"
brew "bandwhich"
brew "bash-completion"
brew "bat"
brew "broot"
brew "glib"
brew "python@3.8"
brew "cocoapods"
brew "composer"
brew "coreutils"
brew "ctop"
brew "curl"
brew "go"
brew "dep"
brew "diff-so-fancy"
brew "diskonaut"
brew "dive"
brew "dnsmasq", restart_service: true
brew "elm"
brew "eva"
brew "exa"
brew "exif"
brew "fdupes"
brew "pkg-config"
brew "gnutls"
brew "harfbuzz"
brew "libass"
brew "libbluray"
brew "ffmpeg"
brew "fish"
brew "fnm"
brew "fzf"
brew "gd"
brew "gh"
brew "git"
brew "git-annex"
brew "git-delta"
brew "libksba"
brew "libusb"
brew "gnupg", link: false
brew "go@1.11"
brew "go@1.12"
brew "gts"
brew "graphviz"
brew "grv"
brew "handbrake"
brew "helm@2"
brew "htop"
brew "httpd"
brew "httpie"
brew "imagemagick"
brew "imlib2"
brew "iperf"
brew "iproute2mac"
brew "jq"
brew "jsonnet"
brew "kubeseal"
brew "memcached"
brew "libmemcached"
brew "liboping"
brew "libpq"
brew "librsvg"
brew "libssh"
brew "libyaml"
brew "lnav"
brew "mdcat"
brew "mitmproxy"
brew "mkcert"
brew "mps-youtube"
brew "vapoursynth"
brew "youtube-dl"
brew "mpv"
brew "mycli"
brew "mysql"
brew "mysql-client"
brew "nethogs"
brew "nmap"
brew "nnn"
brew "node"
brew "openjdk"
brew "pastel"
brew "php"
brew "php@7.1"
brew "procs"
brew "pv"
brew "pyenv"
brew "pyenv-virtualenvwrapper"
brew "python@2", link: false
brew "rename"
brew "silicon"
brew "socat"
brew "speedtest-cli"
brew "stern"
brew "tbb"
brew "tealdeer"
brew "teleport"
brew "telnet"
brew "thefuck"
brew "tmate"
brew "tmux"
brew "up"
brew "watch"
brew "wget"
brew "wireguard-tools"
brew "xsv"
brew "zenith"
brew "zlib"
brew "zsh"
brew "zsh-autosuggestions"
brew "aylei/tap/kubectl-debug"
brew "bradyjoslin/sharewifi/sharewifi"
brew "derailed/k9s/k9s"
brew "extrawurst/tap/gitui"
brew "eyeplum/tap/cicero-tui"
brew "federico-terzi/espanso/espanso"
brew "guoxbin/guoxbin/dtool"
brew "heroku/brew/heroku"
brew "jesseduffield/lazydocker/lazydocker"
brew "jesseduffield/lazygit/lazygit"
brew "kryptco/tap/kr", link: false
brew "shopify/shopify/toxiproxy"
brew "tinygo-org/tools/tinygo"
brew "xvxx/code/shy"
cask "alacritty"
cask "alfred"
cask "android-file-transfer"
cask "anybar"
cask "arduino"
cask "atom"
cask "bartender"
cask "bitbar"
cask "brave-browser"
cask "choosy"
cask "cyberduck"
cask "dash"
cask "dashlane"
cask "dbeaver-community"
cask "drawio"
cask "eduvpn"
cask "firefox"
cask "fluor"
cask "font-hack-nerd-font"
cask "franz"
cask "gimp"
cask "google-chrome-canary"
cask "gpg-suite"
cask "hammerspoon"
cask "http-toolkit"
cask "inkscape"
cask "insomnia"
cask "istat-menus"
cask "java"
cask "java8"
cask "jd-gui"
cask "jetbrains-toolbox"
cask "keepassxc"
cask "keybase"
cask "kube-forwarder"
cask "lastpass"
cask "launchrocket"
cask "lighttable"
cask "microsoft-edge"
cask "next"
cask "ngrok"
cask "openscad"
cask "paw"
cask "platypus"
cask "postgres"
cask "postman"
cask "sequel-pro"
cask "skype"
cask "slack"
cask "slate"
cask "smcfancontrol"
cask "station"
cask "tableplus"
cask "ukelele"
cask "virtualbox"
cask "visual-studio-code"
cask "visual-studio-code-insiders"
cask "vnc-viewer"
cask "vysor"
cask "wwdc"
cask "xquartz"
{{ end }}
