{{ if .work -}}
githubBlablacarUsername={{ (onepasswordDetailsFields "ngbafqj6qcxil54ltjmfp26bka").username.value }}
githubBlablacarPassword={{ (onepasswordDetailsFields "ngbafqj6qcxil54ltjmfp26bka").password.value }}

nexusPublicProxyUsername={{ (onepasswordDetailsFields "hemfeyqtocbinxdifyjx3njaci").username.value }}
nexusPublicProxyPassword={{ (onepasswordDetailsFields "hemfeyqtocbinxdifyjx3njaci").password.value }}
{{ end -}}