{{- if (eq .chezmoi.os "linux") -}}
[MainWindow]
MenuBar=Disabled
State=AAAA/wAAAAD9AAAAAAAAA/wAAAK8AAAABAAAAAQAAAAIAAAACPwAAAABAAAAAgAAAAEAAAAWAG0AYQBpAG4AVABvAG8AbABCAGEAcgAAAAAA/////wAAAAAAAAAA
ToolBarsMovable=Disabled
eDP-1 Height 1920x1080=700
eDP-1 Width 1920x1080=1020
eDP-1 XPosition 1920x1080=0
eDP-1 YPosition 1920x1080=29
{{ end -}}
