{{- if (eq .chezmoi.os "linux") -}}
[MainWindow]
CommandList=
HostList=
SelectedSheets[$e]=ProcessTable.sgrd,SystemLoad2.sgrd
SplitterSizeList=10,90
State=AAAA/wAAAAD9AAAAAAAAAyAAAAIfAAAABAAAAAQAAAAIAAAACPwAAAABAAAAAgAAAAEAAAAWAG0AYQBpAG4AVABvAG8AbABCAGEAcgAAAAAA/////wAAAAAAAAAA
ToolBarsMovable=Disabled
currentSheet=1
eDP-1 XPosition=14
eDP-1 XPosition 1920x1080=1093
eDP-1 YPosition=53
eDP-1 YPosition 1920x1080=411
isMinimized=false
{{ end -}}
